# Ignorar arquivos de chaves secretas do Firebase
serviceAccountKey.json

# Ignorar:

admin.js
firebase-config.js
pedidos-firebase.js

# Ignorar a pasta de módulos
node_modules/

# Ignorar arquivos temporários
.DS_Store

#Ignorar firebase-key.json

firebase-key.json

#Ignorar firebase serviceAccountKey

serviceAccountKey.json

